!/gradle/wrapper/gradle-wrapper.jar
#*.jks
#*.keystore
$RECYCLE.BIN/
*.aab
*.aar
*.ap_
*.apk
*.cab
*.class
*.dex
*.ear
*.hprof
*.iml
*.ipr
*.iws
*.jks
*.keystore
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.stackdump
*.swp
*.war
*~
._*
.classpath
.cproject
.cxx
.cxx/
.DS_Store
.DS_Store?
.externalNativeBuild
.gradle
.gradle/
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.mtj.tmp/
.navigation/
.project
.settings/
.signing/
.Spotlight-V100
.Trashes
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
/out/
[Dd]esktop.ini
atlassian-ide-plugin.xml
bin/
build/
captures/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
ehthumbs.db
ehthumbs_vista.db
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen-external-apklibs
gen/
hs_err_pid*
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
obj/
out/
output.json
proguard/
Thumbs.db
Thumbs.db:encryptable
vcs.xml